<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>새 글 쓰기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>새 글 쓰기</h1>
        <form action="{{ url_for('create') }}" method="POST">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required><br>
            <label for="content">내용:</label>
            <textarea id="content" name="content" rows="10" required></textarea><br>
            <button type="submit">작성</button>
        </form>
        <nav>
            <a href="{{ url_for('home') }}" class="btn">목록으로 돌아가기</a>
        </nav>
    </div>
</body>
</html>