<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>글 수정</h1>
        <form action="{{ url_for('update', post_id=post.id) }}" method="POST">
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" value="{{ post.title }}" required><br>
            <label for="content">내용:</label>
            <textarea id="content" name="content" rows="10" required>{{ post.content }}</textarea><br>
            <button type="submit">수정</button>
        </form>
        <nav>
            <a href="{{ url_for('home') }}" class="btn">목록으로 돌아가기</a>
        </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>