<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>회원가입</h2>
    <form method="POST">
        <label for="username">계정명:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">비밀번호:</label>
        <input type="password" name="password" required>
        <br>
        <label for="email">이메일:</label>
        <input type="text" name="email" >
        <br>
        <label for="phone">휴대폰 번호:</label>
        <input type="text" name="phone" >
        <br>
        <label for="gender">성별:</label>
        <input type="text" name="gender" >
        <br>
        <input type="hidden" name="secret" value="">
        <button type="submit" class="btn">회원가입</button>
    </form>
    <a href="{{ url_for('login') }}" class="btn">이미 계정이 있다면? 로그인 하세요!</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>